<section id="main">
    <div class="inner">
        <div class="content">
            <!-- Elements -->
            <div class="row">
                <div class="col-4 col-12-medium">
                    <!-- Text -->
                    <h3>Text</h3>
                    <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this
                        is <em>emphasized</em>.
                        This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                        This is <u>underlined</u>, this is <code>code</code>, and this is a <a href="#">link</a>.
                    </p>
                    <h4>Definition</h4>
                    <dl>
                        <dt>Alpha</dt>
                        <dd>
                            <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
                                Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                                Integer ac pellentesque praesent.</p>
                        </dd>
                    </dl>
                    <!-- Blockquote -->
                    <h3>Blockquote</h3>
                    <blockquote>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio
                        Integer ac sed amet praesent. Nunc
                        lacinia ante nunc ac gravida.</blockquote>
                </div>
                <div class="col-4 col-12-medium">
                    <!-- Buttons -->
                    <h3>GOALS</h3>
                    <p>
                        Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
                        sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                        Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.

                    </p>

                    <!-- Box -->
                    <h3>Box</h3>
                    <div class="box">
                        <p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu
                            felis iaculis volutpat ac adipiscing accumsan eu faucibus.</p>
                    </div>

                </div>
                <div class="col-4 col-12-medium">
                    <!-- Buttons -->
                    <h3>GOALS2</h3>
                    <p>
                        <img src="../images/pic02.jpg" alt="" />
                        Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
                        tempus euismod. Magna et cursus lorem faucibus vestibulum. Blandit adipiscing eu
                        Nunc lacinia ante nunc ac gravida lorem ipsum dolor
                        sit amet dolor feugiat consequat.
                    </p>

                    <!-- Box -->
                    <h3>Box</h3>
                    <div class="box">
                        <p>Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu
                            felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>